<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Instant Connect Order From</title>
    
</head>
<body>

    <form action="/customer/create" id="myForm" name="myForm" class="myForm" method="POST">
      title:<input type="text" name="title"><br></br>
      cpu:<input type="text" name="cpu"><br></br>
      ram:<input type="text" name="ram"><br></br>
      disk:<input type="text" name="disk"><br></br>

      <input type="submit" value="Submit">


</form>    

 
</body>
</html>