<html>
<head>
        <link href="/public/stylesheets/style1.css" rel="stylesheet" type="text/css">


        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        
       
    </head>
    <body>
        <form action=" " method="get">
               
                        <div class="header">
                              <% include ./include/header.ejs %>
                      
                              <div class="nav">
                      
                                  <% include ./include/nav.ejs %>
                                  </div>
                        </div>
                        <div class="main1">

                                <div class="user">
                                          
                                         

                                <div class="image">
                                        <h3>Welcome <%=name %></h3>
                                        <img src="/public/images/background.jpg" class="mx-auto d-block" style="width:100%"">
                                      </div>
                <!-- <div class="container"> -->
  
	
                <!--     
                        <div class="header">
                           Installtion Details
                        </div> -->
                    
                               
                   
                    </div> 
                </div>
               
 
               
        </form>

    </body>

</html>