<html>
        <link href="/public/stylesheets/style1.css" rel="stylesheet" type="text/css">
<!-- 
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
     -->

     <meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        
</head>
<body>
        <form action="/medium_requirements/create" id="myForm1" name="myForm" class="myForm" method="POST">
 
<div class="main">
  <div class="header">
        <% include ./include/header.ejs %>
  </div>
  <% include ./include/nav.ejs %>
  <div class="Column" style="background-color:#aaa;">
        <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      
                      <a data-toggle="collapse" aria-expanded="false" data-parent="#accordion" href="#collapse1">
                        <!-- <span class="glyphicon glyphicon-plus"></span> -->
                        IC TC+DB 
                      </a>
                    </h4>
                  </div>
                  <div id="collapse1" class="collapse show">
                    
                    <div class="panel-body"> 
                      <div class="check2">
    
                            <div class="col-20">
                            <label for="customer">CPU</label>
                        </div>
                        <div class="col-80">
                                <input type="text" id="ictcbd1_cpu" name="ictcbd1_cpu" placeholder=".." ><br>
                                </div>
                        
                                <div class="col-20">
                                        <label>RAM</label>
                                    </div>
                                    <div class="col-80">
                                          <input type="text" id="ictcbd1_ram" name="ictcbd1_ram" placeholder=".." >
                                    </div>
                                    <div class="col-20">
                                            <label>DISK</label>
                                        </div>
                                        <div class="col-80">
                                              <input type="text" id="ictcbd1_disk" name="ictcbd1_disk" placeholder=".." >
                                        </div>
                                        <div class="col-20">
                                                <label>FQDN</label>
                                            </div>
                                            <div class="col-80">
                                                  <input type="text" id="ictcbd1_fqdn" name="ictcbd1_fqdn" placeholder=".." >
                                            </div>
                                            <div class="col-20">
                                                <label>IP Address</label>
                                            </div>
                                            <div class="col-80">
                                                  <input type="text" id="ictcbd1_ipaddress" name="ictcbd1_ipaddress" placeholder=".." >
                                            </div>
                                            <div class="col-20">
                                                <label>MAC Address</label>
                                            </div>
                                            <div class="col-80">
                                                  <input type="text" id="ictcbd1_macaddress" name="ictcbd1_macaddress" placeholder=".." >
                                            </div>
                                            
                          
                        </div>
                        </div>
                        </div>
                        </div>



                          <div class="panel panel-default"> 
                                <div class="panel-heading"> 
                                  <h4 class="panel-title">
                                    
                                    <a data-toggle="collapse" aria-expanded="undefined" data-parent="#accordion" href="#collapse2">
                                      <!-- <span class="glyphicon glyphicon-plus"></span> -->
                                      IC TC+DB 2 (Medium)                                      </a>
                                  </h4>
                                </div>
                                <div id="collapse2" class="panel-collapse collapse in">
                                  
                                  <div class="panel-body"> 
                                    <div class="check2">
                  
                                          <div class="col-20">
                                          <label for="customer">CPU</label>
                                      </div>
                                      <div class="col-80">
                                              <input type="text" id="ictcbd2_cpu" name="ictcbd2_cpu" placeholder=".." ><br>
                                              </div>
                                      
                                              <div class="col-20">
                                                      <label>RAM</label>
                                                  </div>
                                                  <div class="col-80">
                                                        <input type="text" id="ictcbd2_ram" name="ictcbd2_ram" placeholder=".." >
                                                  </div>
                                                  <div class="col-20">
                                                          <label>DISK</label>
                                                      </div>
                                                      <div class="col-80">
                                                            <input type="text" id="ictcbd2_disk" name="ictcbd2_disk" placeholder=".." >
                                                      </div>
                                                      <div class="col-20">
                                                              <label>FQDN</label>
                                                          </div>
                                                          <div class="col-80">
                                                                <input type="text" id="ictcbd2_fqdn" name="ictcbd2_fqdn" placeholder=".." >
                                                          </div>
                                                          <div class="col-20">
                                                              <label>IP Address</label>
                                                          </div>
                                                          <div class="col-80">
                                                                <input type="text" id="ictcbd2_ipaddress" name="ictcbd2_ipaddress" placeholder=".." >
                                                          </div>
                                                          <div class="col-20">
                                                              <label>MAC Address</label>
                                                          </div>
                                                          <div class="col-80">
                                                                <input type="text" id="ictcbd2_macaddress" name="ictcbd2_macaddress" placeholder=".." >
                                                          </div>
                                                          
                                        
                                      </div>
                                      </div>
                                      </div>
                                      </div>







                                      <div class="panel panel-default"> 
                                          <div class="panel-heading"> 
                                            <h4 class="panel-title">
                                              
                                              <a data-toggle="collapse" aria-expanded="undefined" data-parent="#accordion" href="#collapse2">
                                                <!-- <span class="glyphicon glyphicon-plus"></span> -->
                                                Unified Media Service (UMS)1                                </a>
                                            </h4>
                                          </div>
                                          <div id="collapse2" class="panel-collapse collapse in">
                                            
                                            <div class="panel-body"> 
                                              <div class="check2">
                            
                                                    <div class="col-20">
                                                    <label for="customer">CPU</label>
                                                </div>
                                                <div class="col-80">
                                                        <input type="text" id="ums1_cpu" name="ums1_cpu" placeholder=".." ><br>
                                                        </div>
                                                
                                                        <div class="col-20">
                                                                <label>RAM</label>
                                                            </div>
                                                            <div class="col-80">
                                                                  <input type="text" id="ums1_ram" name="ums1_ram" placeholder=".." >
                                                            </div>
                                                            <div class="col-20">
                                                                    <label>DISK</label>
                                                                </div>
                                                                <div class="col-80">
                                                                      <input type="text" id="ums1_disk" name="ums1_disk" placeholder=".." >
                                                                </div>
                                                                <div class="col-20">
                                                                        <label>FQDN</label>
                                                                    </div>
                                                                    <div class="col-80">
                                                                          <input type="text" id="ums1_fqdn" name="ums1_fqdn" placeholder=".." >
                                                                    </div>
                                                                    <div class="col-20">
                                                                        <label>IP Address</label>
                                                                    </div>
                                                                    <div class="col-80">
                                                                          <input type="text" id="ums1_ipdaress" name="ums1_ipdaress" placeholder=".." >
                                                                    </div>
                                                                    <div class="col-20">
                                                                        <label>MAC Address</label>
                                                                    </div>
                                                                    <div class="col-80">
                                                                          <input type="text" id="ums1_macaddress" name="ums1_macaddress" placeholder=".." >
                                                                    </div>
                                                                    
                                                  
                                                </div>
                                                </div>
                                                </div>
                                                </div>
          
                                      <div class="panel panel-default">
                                            <div class="panel-heading">
                                              <h4 class="panel-title">
                                                
                                                <a data-toggle="collapse" aria-expanded="undefined" data-parent="#accordion" href="#collapse3">
                                                  <!-- <span class="glyphicon glyphicon-plus"></span> -->
                                                  Unified Media Service (UMS)2  
                                                </a>
                                              </h4>
                                            </div>
                                            <div id="collapse3" class="panel-collapse collapse in">
                                              
                                              <div class="panel-body"> 
                                                <div class="check2">
                              
                                                      <div class="col-20">
                                                      <label for="customer">CPU</label>
                                                  </div>
                                                  <div class="col-80">
                                                          <input type="text" id="ums2_cpu" name="ums2_cpu" placeholder=".." ><br>
                                                          </div>
                                                  
                                                          <div class="col-20">
                                                                  <label>RAM</label>
                                                              </div>
                                                              <div class="col-80">
                                                                    <input type="text" id="ums2_ram" name="ums2_ram" placeholder=".." >
                                                              </div>
                                                              <div class="col-20">
                                                                      <label>DISK</label>
                                                                  </div>
                                                                  <div class="col-80">
                                                                        <input type="text" id="ums2_disk" name="ums2_disk" placeholder=".." >
                                                                  </div>
                                                                  <div class="col-20">
                                                                          <label>FQDN</label>
                                                                      </div>
                                                                      <div class="col-80">
                                                                            <input type="text" id="ums2_fqdn" name="ums2_fqdn" placeholder=".." >
                                                                      </div>
                                                                      <div class="col-20">
                                                                          <label>IP Address</label>
                                                                      </div>
                                                                      <div class="col-80">
                                                                            <input type="text" id="ums2_ipdaress" name="ums2_ipdaress" placeholder=".." >
                                                                      </div>
                                                                      <div class="col-20">
                                                                          <label>MAC Address</label>
                                                                      </div>
                                                                      <div class="col-80">
                                                                            <input type="text" id="ums2_macaddress" name="ums2_macaddress" placeholder=".." >
                                                                      </div>
                                                                      
                                                    
                                                  </div>
                                                  </div>
                                                  </div>
                                                  </div>
            



                                                  <div class="panel panel-default">
                                                      <div class="panel-heading">
                                                       <h4 class="panel-title">
                                                                                            
                                                       <a data-toggle="collapse" aria-expanded="undefined" data-parent="#accordion" href="#collapse11">
                                                         <!-- <span class="glyphicon glyphicon-plus"></span> -->
                                                         Load Balancer 1                                                                  
                                                         </a>
                                                        </h4>
                                                         </div>
                                                     <div id="collapse11" class="panel-collapse collapse in">
                                                                                              
                                                       <div class="panel-body"> 
                                                        <div class="check2">
                                                                          
                                                       <div class="col-20">
                                                        <label for="customer">CPU</label>
                                                          </div>
                                                       <div class="col-80">
                                                       <input type="text" id="load_balencer1_cpu" name="load_balencer1_cpu" placeholder=".." ><br>
                                                       </div>
                                                       <div class="col-20">
                                                       <label>RAM</label>
                                                        </div>
                                                       <div class="col-80">
                                                       <input type="text" id="load_balencer1_ram" name="load_balencer1_ram" placeholder=".." >
                                                      </div>
                                                       <div class="col-20">
                                                       <label>DISK</label>
                                                       </div>
                                                        <div class="col-80">
                                                        <input type="text" id="load_balencer1_disk" name="load_balencer1_disk" placeholder=".." >
                                                          </div>
                                                          <div class="col-20">
                                                        <label>FQDN</label>
                                                        </div>
                                                        <div class="col-80">
                                                       <input type="text" id="load_balencer1_fqdn" name="load_balencer1_fqdn" placeholder=".." >
                                                       </div>
                                                       <div class="col-20">
                                                       <label>IP Address</label>
                                                       </div>
                                                       <div class="col-80">
                                                       <input type="text" id="load_balencer1_ipaddress" name="load_balencer1_ipaddress" placeholder=".." >
                                                       </div>
                                                       <div class="col-20">
                                                       <label>MAC Address</label>
                                                        </div>
                                                       <div class="col-80">
                                                      <input type="text" id="load_balencer1_macaddress" name="load_balencer1_macaddress" placeholder=".." >
                                                       </div>
                                                                                                                                  
                                                                                                                   
                                                       </div>
                                                       </div>
                                                        </div>
                                                        </div>





                                                        <div class="panel panel-default">
                                                            <div class="panel-heading">
                                                             <h4 class="panel-title">
                                                                                                  
                                                             <a data-toggle="collapse" aria-expanded="undefined" data-parent="#accordion" href="#collapse10">
                                                               <!-- <span class="glyphicon glyphicon-plus"></span> -->
                                                               Load Balancer 2                                                                                               </a>
                                                              </h4>
                                                               </div>
                                                           <div id="collapse10" class="panel-collapse collapse in">
                                                                                                    
                                                             <div class="panel-body"> 
                                                              <div class="check2">
                                                                                
                                                             <div class="col-20">
                                                              <label for="customer">CPU</label>
                                                                </div>
                                                             <div class="col-80">
                                                             <input type="text" id="load_balencer2_cpu" name="load_balencer2_cpu" placeholder=".." ><br>
                                                             </div>
                                                             <div class="col-20">
                                                             <label>RAM</label>
                                                              </div>
                                                             <div class="col-80">
                                                             <input type="text" id="load_balencer2_ram" name="load_balencer2_ram" placeholder=".." >
                                                            </div>
                                                             <div class="col-20">
                                                             <label>DISK</label>
                                                             </div>
                                                              <div class="col-80">
                                                              <input type="text" id="load_balencer2_disk" name="load_balencer2_disk" placeholder=".." >
                                                                </div>
                                                                <div class="col-20">
                                                              <label>FQDN</label>
                                                              </div>
                                                              <div class="col-80">
                                                             <input type="text" id="load_balencer2_fqdn" name="load_balencer2_fqdn" placeholder=".." >
                                                             </div>
                                                             <div class="col-20">
                                                             <label>IP Address</label>
                                                             </div>
                                                             <div class="col-80">
                                                             <input type="text" id="load_balencer2_ipaddress" name="load_balencer2_ipaddress" placeholder=".." >
                                                             </div>
                                                             <div class="col-20">
                                                             <label>MAC Address</label>
                                                              </div>
                                                             <div class="col-80">
                                                            <input type="text" id="load_balencer2_macaddress" name="load_balencer2_macaddress" placeholder=".." >
                                                             </div>
                                                                                                                                        
                                                                                                                         
                                                             </div>
                                                             </div>
                                                              </div>
                                                              </div>

 <div class="panel panel-default">
   <div class="panel-heading">
    <h4 class="panel-title">
                                         
    <a data-toggle="collapse" aria-expanded="undefined" data-parent="#accordion" href="#collapse4">
      <!-- <span class="glyphicon glyphicon-plus"></span> -->
        Location                                  
      </a>
     </h4>
      </div>
  <div id="collapse4" class="panel-collapse collapse in">
                                           
    <div class="panel-body"> 
     <div class="check2">
                       
    <div class="col-20">
     <label for="customer">CPU</label>
       </div>
    <div class="col-80">
    <input type="text" id="location_cpu" name="location_cpu" placeholder=".." ><br>
    </div>
                                                                                                               <div class="col-20">
    <label>RAM</label>
     </div>
    <div class="col-80">
    <input type="text" id="location_ram" name="location_ram" placeholder=".." >
   </div>
    <div class="col-20">
    <label>DISK</label>
    </div>
     <div class="col-80">
     <input type="text" id="location_disk" name="location_disk" placeholder=".." >
       </div>
       <div class="col-20">
     <label>FQDN</label>
     </div>
     <div class="col-80">
    <input type="text" id="location_fqdn" name="location_fqdn" placeholder=".." >
    </div>
    <div class="col-20">
    <label>IP Address</label>
    </div>
    <div class="col-80">
    <input type="text" id="location_ipdaress" name="location_ipdaress" placeholder=".." >
    </div>
    <div class="col-20">
    <label>MAC Address</label>
     </div>
    <div class="col-80">
   <input type="text" id="location_macaddress" name="location_macaddress" placeholder=".." >
    </div>
                                                                               
                                                                
    </div>
    </div>
     </div>
     </div>


     <div class="panel panel-default">
            <div class="panel-heading">
             <h4 class="panel-title">
                                                  
             <a data-toggle="collapse" aria-expanded="undefined" data-parent="#accordion" href="#collapse5">
               <!-- <span class="glyphicon glyphicon-plus"></span> -->
               Notifier                                  
               </a>
              </h4>
               </div>
           <div id="collapse5" class="panel-collapse collapse in">
                                                    
             <div class="panel-body"> 
              <div class="check2">
                                
             <div class="col-20">
              <label for="customer">CPU</label>
                </div>
             <div class="col-80">
             <input type="text" id="notifier_cpu" name="notifier_cpu" placeholder=".." ><br>
             </div>
             <div class="col-20">
             <label>RAM</label>
              </div>
             <div class="col-80">
             <input type="text" id="notifier_ram" name="notifier_ram" placeholder=".." >
            </div>
             <div class="col-20">
             <label>DISK</label>
             </div>
              <div class="col-80">
              <input type="text" id="notifier_disk" name="notifier_disk" placeholder=".." >
                </div>
                <div class="col-20">
              <label>FQDN</label>
              </div>
              <div class="col-80">
             <input type="text" id="notifier_fqdn" name="notifier_fqdn" placeholder=".." >
             </div>
             <div class="col-20">
             <label>IP Address</label>
             </div>
             <div class="col-80">
             <input type="text" id="notifier_ipdaress" name="notifier_ipdaress" placeholder=".." >
             </div>
             <div class="col-20">
             <label>MAC Address</label>
              </div>
             <div class="col-80">
            <input type="text" id="notifier_macaddress" name="notifier_macaddress" placeholder=".." >
             </div>
                                                                                        
                                                                         
             </div>
             </div>
              </div>
              </div>

              <div class="panel panel-default">
                    <div class="panel-heading">
                     <h4 class="panel-title">
                                                          
                     <a data-toggle="collapse" aria-expanded="undefined" data-parent="#accordion" href="#collapse6">
                       <!-- <span class="glyphicon glyphicon-plus"></span> -->
                       Reporter                               
                       </a>
                      </h4>
                       </div>
                   <div id="collapse6" class="panel-collapse collapse in">
                                                            
                     <div class="panel-body"> 
                      <div class="check2">
                                        
                     <div class="col-20">
                      <label for="customer">CPU</label>
                        </div>
                     <div class="col-80">
                     <input type="text" id="reporter_cpu" name="reporter_cpu" placeholder=".." ><br>
                     </div>
                    <div class="col-20">
                     <label>RAM</label>
                      </div>
                     <div class="col-80">
                     <input type="text" id="reporter_ram" name="reporter_ram" placeholder=".." >
                    </div>
                     <div class="col-20">
                     <label>DISK</label>
                     </div>
                      <div class="col-80">
                      <input type="text" id="reporter_disk" name="reporter_disk" placeholder=".." >
                        </div>
                        <div class="col-20">
                      <label>FQDN</label>
                      </div>
                      <div class="col-80">
                     <input type="text" id="reporter_fqdn" name="reporter_fqdn" placeholder=".." >
                     </div>
                     <div class="col-20">
                     <label>IP Address</label>
                     </div>
                     <div class="col-80">
                     <input type="text" id="reporter_ipdaress" name="reporter_ipdaress" placeholder=".." >
                     </div>
                     <div class="col-20">
                     <label>MAC Address</label>
                      </div>
                     <div class="col-80">
                    <input type="text" id="reporter_macaddress" name="reporter_macaddress" placeholder=".." >
                     </div>
                                                                                                
                                                                                 
                     </div>
                     </div>
                      </div>
                      </div>

                      <div class="panel panel-default">
                            <div class="panel-heading">
                             <h4 class="panel-title">
                                                                  
                             <a data-toggle="collapse" aria-expanded="undefined" data-parent="#accordion" href="#collapse7">
                               <!-- <span class="glyphicon glyphicon-plus"></span> -->
                               Radio Control Server (RCS)                                  
                               </a>
                              </h4>
                               </div>
                           <div id="collapse7" class="panel-collapse collapse in">
                                                                    
                             <div class="panel-body"> 
                              <div class="check2">
                                                
                             <div class="col-20">
                              <label for="customer">CPU</label>
                                </div>
                             <div class="col-80">
                             <input type="text" id="rcs_cpu" name="rcs_cpu" placeholder=".." ><br>
                             </div>
                                 <div class="col-20">
                             <label>RAM</label>
                              </div>
                             <div class="col-80">
                             <input type="text" id="rcs_ram" name="rcs_ram" placeholder=".." >
                            </div>
                             <div class="col-20">
                             <label>DISK</label>
                             </div>
                              <div class="col-80">
                              <input type="text" id="rcs_disk" name="rcs_disk" placeholder=".." >
                                </div>
                                <div class="col-20">
                              <label>FQDN</label>
                              </div>
                              <div class="col-80">
                             <input type="text" id="rcs_fqdn" name="rcs_fqdn" placeholder=".." >
                             </div>
                             <div class="col-20">
                             <label>IP Address</label>
                             </div>
                             <div class="col-80">
                             <input type="text" id="rcs_ipdaress" name="rcs_ipdaress" placeholder=".." >
                             </div>
                             <div class="col-20">
                             <label>MAC Address</label>
                              </div>
                             <div class="col-80">
                            <input type="text" id="rcs_macaddress" name="rcs_macaddress" placeholder=".." >
                             </div>
                                                                                                        
                                                                                         
                             </div>
                             </div>
                              </div>
                              </div>

            


                              <div class="panel panel-default">
                                    <div class="panel-heading">
                                     <h4 class="panel-title">
                                                                          
                                     <a data-toggle="collapse" aria-expanded="undefined" data-parent="#accordion" href="#collapse8">
                                       <!-- <span class="glyphicon glyphicon-plus"></span> -->
                                       Cisco Expressway VCS                                  
                                       </a>
                                      </h4>
                                       </div>
                                   <div id="collapse8" class="panel-collapse collapse in">
                                                                            
                                     <div class="panel-body"> 
                                      <div class="check2">
                                                        
                                     <div class="col-20">
                                      <label for="customer">CPU</label>
                                        </div>
                                     <div class="col-80">
                                     <input type="text" id="vcs_cpu" name="vcs_cpu" placeholder=".." ><br>
                                     </div>
                                  <div class="col-20">
                                     <label>RAM</label>
                                      </div>
                                     <div class="col-80">
                                     <input type="text" id="vcs_ram" name="vcs_ram" placeholder=".." >
                                    </div>
                                     <div class="col-20">
                                     <label>DISK</label>
                                     </div>
                                      <div class="col-80">
                                      <input type="text" id="vcs_disk" name="vcs_disk" placeholder=".." >
                                        </div>
                                        <div class="col-20">
                                      <label>FQDN</label>
                                      </div>
                                      <div class="col-80">
                                     <input type="text" id="vcs_fqdn" name="vcs_fqdn" placeholder=".." >
                                     </div>
                                     <div class="col-20">
                                     <label>IP Address</label>
                                     </div>
                                     <div class="col-80">
                                     <input type="text" id="vcs_ipdaress" name="vcs_ipdaress" placeholder=".." >
                                     </div>
                                     <div class="col-20">
                                     <label>MAC Address</label>
                                      </div>
                                     <div class="col-80">
                                    <input type="text" id="vcs_macaddress" name="vcs_macaddress" placeholder=".." >
                                     </div>
                                                                                                                
                                                                                                 
                                     </div>
                                     </div>
                                      </div>
                                      </div>

                                      <div class="panel panel-default">
                                            <div class="panel-heading">
                                             <h4 class="panel-title">
                                                                                  
                                             <a data-toggle="collapse" aria-expanded="undefined" data-parent="#accordion" href="#collapse9">
                                               <!-- <span class="glyphicon glyphicon-plus"></span> -->
                                               Reverse Proxy Server                                   
                                               </a>
                                              </h4>
                                               </div>
                                           <div id="collapse9" class="panel-collapse collapse in">
                                                                                    
                                             <div class="panel-body"> 
                                              <div class="check2">
                                                                
                                             <div class="col-20">
                                              <label for="customer">CPU</label>
                                                </div>
                                             <div class="col-80">
                                             <input type="text" id="rps_cpu" name="rps_cpu" placeholder=".." ><br>
                                             </div>
                                           <div class="col-20">
                                             <label>RAM</label>
                                              </div>
                                             <div class="col-80">
                                             <input type="text" id="rps_ram" name="rps_ram" placeholder=".." >
                                            </div>
                                             <div class="col-20">
                                             <label>DISK</label>
                                             </div>
                                              <div class="col-80">
                                              <input type="text" id="rps_disk" name="rps_disk" placeholder=".." >
                                                </div>
                                                <div class="col-20">
                                              <label>FQDN</label>
                                              </div>
                                              <div class="col-80">
                                             <input type="text" id="rps_fqdn" name="rps_fqdn" placeholder=".." >
                                             </div>
                                             <div class="col-20">
                                             <label>IP Address</label>
                                             </div>
                                             <div class="col-80">
                                             <input type="text" id="rps_ipdaress" name="rps_ipdaress" placeholder=".." >
                                             </div>
                                             <div class="col-20">
                                             <label>MAC Address</label>
                                              </div>
                                             <div class="col-80">
                                            <input type="text" id="rps_macaddress" name="rps_macaddress" placeholder=".." >
                                             </div>
                                                                                                                        
                                                                                                         
                                             </div>
                                             </div>
                                              </div>
                                              </div>      
                                            </div>                          

      <div class="row">
           <div class="button">
        <input type="submit" value="Submit" onclick="summit()" style="position: absolute; left: 560px">
       <input type="button" value="Reset" style="position: absolute; left: 450px;" onclick="reset()">
                                               
                                                  
            </div>
     </div> 

 
</div>
                        
  
   
      
     


 
   
   
    </div>
  <div class="footer">
  <%include ./include/footer.ejs%>
  </div>
</div>
<script src="/public/js/resp.js"></script>
</form>
</body>
</html>
