<header>

        <div class="image">
                <img src="/public/images/instantConnect.png" style="width:300px; height:90px; ">
              </div>
              <div class="rightopheader">
                    <h2>Instant Connect Order Form  </h2>
                  </div> 
    
</header>