

<html>
     <nav>
    <a href="/">Home</a> |
    <a href="./requirements">Small Installation Details</a> |
   <a href="/medium_requirements.ejs">Medium Installation Details</a> |
   <a href="large_requirements.ejs">Large Installation Details</a> |
       </nav>

    </body>
      </html>
      