

<html>
     <nav nav-pills nav-justified>

            <a href="/dashboard/dashboard">Dashboard</a> |
            <a href="/dashboard/small_requirements">Small Installation Details</a> |
            <a href="/dashboard/medium_requirements">Medium Installation Details</a> |
            <a href="/dashboard/large_requirements">Large Installation Details</a> |
       </nav>
<!-- <nav>
       <ul class="nav nav-tabs" role="tablist">
               <li class="nav-item">
                 <a class="nav-link " data-toggle="tab" href="/dashboard/dashboard">Dashboard</a>
               </li>
               <li class="nav-item">
                 <a class="nav-link" data-toggle="tab" href="/dashboard/small_requirements">Small Installation Details</a>
               </li>
               <li class="nav-item">
                 <a class="nav-link" data-toggle="tab" href="/dashboard/medium_requirements"> Medium Installation Details</a>
               </li>
               <li class="nav-item">
                         <a class="nav-link" data-toggle="tab" href="/dashboard/large_requirements"> Large Installation Details</a>
                       </li>
             </ul>
          </nav> -->

    </body>
      </html>
    